<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>
<body>
    {% block body%}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <form action="procesar.php" method="">
        <div id="div_file">
            <p id="texto">Add file</p>
            <input type="file" id="btn_enviar">
        </div>
    </form>
</body>
</html>